@font-face {
    font-family: bremlinregular;
    src: url(".././assets/fonts/BremlinRegular-z8Yma.otf") format("truetype");
}
@font-face {
    font-family: fontVietHoaCoTrang;
    src: url(".././assets/fonts/FzCoTrang.ttf") format("truetype");
}